Repository qooxdoo/qooxdoo, pull requests merged in 2018-02, with the labels that each got.

#9491 Promise support in Events
  application/uitests/.gitignore
  application/uitests/Manifest.json
  application/uitests/compile.json
  application/uitests/readme.md
  application/uitests/source/class/uitests/DragAndDropApplication.js
  application/uitests/source/translation/en.po
  application/uitests/source/translation/readme.txt
  documentation/manual/source/pages/desktop/ui_interaction.rst
  framework/source/class/qx/Promise.js
  framework/source/class/qx/core/Property.js
  framework/source/class/qx/event/IEventDispatcher.js
  framework/source/class/qx/event/Manager.js
  framework/source/class/qx/event/Registration.js
  framework/source/class/qx/event/Utils.js
  framework/source/class/qx/event/dispatch/AbstractBubbling.js
  framework/source/class/qx/event/dispatch/Direct.js
  framework/source/class/qx/event/dispatch/MouseCapture.js
  framework/source/class/qx/event/handler/Appear.js
  framework/source/class/qx/event/handler/DragDrop.js
  framework/source/class/qx/event/handler/Focus.js
  framework/source/class/qx/event/handler/GestureCore.js
  framework/source/class/qx/event/handler/Keyboard.js
  framework/source/class/qx/event/handler/Pointer.js
  framework/source/class/qx/event/handler/PointerCore.js
  framework/source/class/qx/event/type/Drag.js
  framework/source/class/qx/test/event/Utils.js
  framework/source/class/qx/ui/core/EventHandler.js
Labels: C:core.event, enhancement

#9493 Fixes #9488: Dispose the previous layout in qx.ui.form.List on orientation change
  framework/source/class/qx/ui/form/List.js
Labels: C:desktop.form, bug

#9492 oo loader template could fail to initialize userAgent
  tool/data/generator/oo.loader.tmpl.js
Labels: C:core.oo, enhancement
